body
{
    font-family: 'Gayathri', sans-serif !important;
}
#nav
{
    background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#nav small,
#nav h1
{
    color: black;
}
#estudios 
{
    background-image: url(https://scontent.fmex24-1.fna.fbcdn.net/v/t31.18172-8/1400634_556588421088012_1408086233_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=cdbe9c&_nc_eui2=AeEJo7nX0qExpHZWJrBZnK1irbtYKDlFLJGtu1goOUUskTsIIpUpNNOBFPKDTf1y28lPmY6Gtj3MJaMsBRPg0fYg&_nc_ohc=Zuv46DnlKfsAX9JXCQB&_nc_ht=scontent.fmex24-1.fna&oh=00_AT8IyMCCoVK7O3yaWoPwQ4Tw-sUmnYfGVl7rEGRcjEb05A&oe=6301A288);
}
#estudios img
{
    width: 350px;
}
#estudios h1
{
    text-align: center;
}
#estudios p
{
    text-align: left !important;
}
#estudios .card,
#estudios h1,
#estudios p
{
    color: black;
    text-align: center;
    text-shadow: 0 0 0.2em rgb(108, 166, 233), 0 0 0.2em rgb(108, 166, 233),0 0 0.2em rgb(108, 166, 233);
    font-weight: 800;
}
#trabajo
{
    background-image: url(https://scontent.fmex24-1.fna.fbcdn.net/v/t39.30808-6/294653250_5267755389971268_555749530196113389_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeFUIJOquTVsNFA-5VEmMrhohz9bMHf_bNOHP1swd_9s0-EY-DXTvht8neMVh3QYv1hpcC3OfPwHBbJa7uTd8r35&_nc_ohc=bfQzqdJG2m0AX83JFIP&_nc_ht=scontent.fmex24-1.fna&oh=00_AT9IFaD5nKy5PdAFX0w75wK_KXy5SiBgcPsIcPB5MBFLfQ&oe=62DF3955);
    text-shadow: 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
    font-weight: 600;
    color: white;
    text-align: center;
}
#trabajo .card,
#trabajo a
{
    color: black;
    text-align: center;
}
#grupoBatia ul
{
    font-size: 0.9em;
}
#imagenes h1,
#imagenes h5,
#imagenes p
{
    color: black !important;
    
}
#footer
{
    background-image: url(https://cdn.pixabay.com/photo/2021/01/17/02/02/planets-5923806_960_720.jpg);
    color: rgb(108, 166, 233);
}
#footer img
{
    padding-top: 15px;
    width: 150px;
}
@media(max-width: 992px)
{
    #estudios img
    {
        width: 200px;
    }
}
@media(max-width: 768px)
{
    #estudios img
    {
        width: 350px;
    }
}
@media(max-width: 576px)
{
    #estudios img
    {
        width: 200px;
    }
}
@media(max-width: 995px)
{
    #imagenes .pad
    {
        font-size: small;
        padding-bottom: 0px !important;  
    }
}
@media(max-width: 700px){
    #imagenes img
    {
        height: 60%;
        object-fit: cover;      
    }
}
